@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Shop the favorite Product</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Welcome to NorthwindApp!!!</a>.</p>
</div>
